.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 33%;
    display: flex;
    height: auto;
    &-form {
      margin-right: 2em;
    }
  }
}
