.carousel {
  width: 100%;
  height: 50%;

  &__slide-1 {
    background-color: #015243;
    height: 50vh;
  }
  &__slide-2 {
    background-color: #00342b;
    height: 50vh;
  }
  &__slide-3 {
    background-color: #103f54;
    height: 50vh;
  }
  &__slide-img {
    display: block;
  }
  &__slide-title {
    color: white;
  }
}
