.contactForm {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1.5em;
  background-color: #f3f6f4;
  &__header {
    grid-column: span 2;
  }
  &__input {
  }
  &__btn {
  }
}
