.contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;

  &__fname,
  &__email,
  &__phone {
    grid-column: 1;
  }
  &__phone {
  }
  &__msg {
    grid-column: 2;
    grid-row: 3;
  }

  &__btn {
    grid-column: span 2;
    input {
      width: 100%;
      background-color: #316142;
      color: white;
      padding: 1.5%;
    }
  }
  input,
  textarea {
    outline: none;
  }
}
