.contactForm {
  background-color: #f3f6f4;
  display: flex;
  margin-right: 2em;
  border-radius: 20px;
  height: auto;
  padding: 20px;
  &__name {
    margin-right: 2em;
    &-first,
    &-last {
      display: flex;
      flex-direction: column;
      padding: 10%;
    }
  }

  &__email,
  &__phone,
  &__msg {
    padding: 10%;
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    border-radius: 10%;
    background-color: #e1e7e3;

    &:focus {
      outline: none;
      border: 2px solid green;
    }
  }
}
