.winds {
  margin-top: 10em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &__title {
    font-size: 5.625em;
    margin-bottom: 1em;
    text-align: center;
  }
  &__content {
    width: 33%;
  }
  img {
    margin: 3em;
    border: 2px solid black;
  }
}
